Package: gulden
Version: 2.3.0.4
Architecture: armhf
Maintainer: Bastijn Koopmans <bastijn@g-dash.nl>
Installed-Size: 20118
Section: unknown
Priority: optional
Homepage: g-dash.nl
Description: Gulden wallet
 Gulden wallet raspbian package
