Package: gulden
Version: 2.1.0.17
Architecture: armhf
Maintainer: Bastijn Koopmans <bastijn@g-dash.nl>
Installed-Size: 17841
Section: unknown
Priority: optional
Homepage: g-dash.nl
Description: Gulden wallet
 Gulden wallet raspbian package
